.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer>img {
    border: 1px solid var(--white);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.profileContainer div p {
    padding: 0.8rem 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
    background: var(--primary-button);
    font-size: 0.85rem;
    margin-top: 0.5rem;
    color: var(--white);
}

.profileContainer div p img {
    margin-right: 0.5rem;
}